<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
  <Appenders>
    <File name="A1" fileName="log4j2.log" append="false">
      <PatternLayout
      pattern="&#60;%-4p&#62; %d{dd-MMM-yyyy::HH:mm:ss.SSS} %C{1} %t: - %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Logger name="org" level="info"/>

    <Root level="info">
      <AppenderRef ref="A1"/>
    </Root>
  </Loggers>
</Configuration>
