.svn
*.swp
ncs-cdb
netsim
logs
state
_tmp_ncs*
packages/cisco-ios
packages/cisco-iosxr
packages/cisco-nx
packages/dell-ftos
ncs-events.1
ncs-events.idx
ncs-events.siz
/bin/
README.ncs
README.netsim
packages/cisco-ios-cli-3.0
packages/cisco-iosxr-cli-3.0
packages/cisco-nx-cli-3.0
packages/dell-ftos-cli-3.0
