.svn
*.sw[a-z]
ncs-cdb
netsim
logs
state
_tmp_ncs*
device-nodes/packages/alu-sr-cli-3.4
device-nodes/packages/cisco-ios-cli-3.8
device-nodes/packages/cisco-iosxr-cli-3.5
device-nodes/packages/juniper-junos-nc-3.0
service-node/packages/l3vpn-ned/
